@model IEnumerable<ekozigPersonEntryDemo.Models.Entry>

<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>
    <h1>List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>AddressID</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.FirstName</td>
                    <td>@product.LastName</td>
                    <td>@product.AddressID</td>
                    <td>@product.Email</td>
                    <td>@product.Phone</td>
                    <td>@product.Sex</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
